{% extends 'base1.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} Purchase {% endblock title %}
{% block head %}
{% endblock head %}


{% block main %}
   <!--label>S.No</label-->
   <form action="{% url 'rice_mill:submit' %}" name="purchase" method="post">
      {% csrf_token %}
      <label for="broker"> <strong> Broker </strong> </label> <input name="broker"/> <br>
      <label for="rice_variety"> <strong> Rice Variety </strong> </label> 
      <select name="rice_variety">
         <option value="masoora"> Masoora </option>
         <option value="bptl"> BPTL </option>
      </select><br>
      <label for="vehicle_no"> <strong> Vehicle No </strong> </label> <input name="vehicle_no"/> <br>
      <label for="bag_type"> <strong> Bag Type </strong> </label> 
      <select name="bag_type">
         <option value="big"> Big </option>
         <option value="small"> Small </option>
      </select><br>
      <label for="no_of_bags"> <strong> No: Of Bags </strong> </label> <input name="no_of_bags"/> <br>
      <label for="weighment"> <strong> Weighment </strong> </label> <input name="weighment"/> <br>
      <input type="submit" value="Submit">
      <a href="/logout">Log out</a>
   </form>
{% endblock main %}
