{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
   <script type="text/javascript" src="{% static 'js/file.js' %}"> </script>
   <link rel="stylesheet" href="{% static 'css/style.css' %}?v=1">
{% endblock head %}

{% block main %}
   <div class="form-style-2">
      <div class="form-style-2-heading">
         <form action="{% url 'rice_mill:index' %}" method="post" name="form_type">
            {% if form_type == 1 %}
               {% trans "checked" as purchase %}
               {% trans "" as sales %}
               {% trans "Purchase" as title_name %}
               {% trans "purchase.html" as form_name %}
            {% elif form_type == 2 %}
               {% trans "" as purchase %}
               {% trans "checked" as sales %}
               {% trans "Sales" as title_name %}
               {% trans "sales.html" as form_name %}
            {% else %}
               {% trans "checked" as purchase %}
               {% trans "" as sales %}
               {% trans "Purchase" as title_name %}
               {% trans "purchase.html" as form_name %}
            {% endif %}

            {% csrf_token %}
            <input value="1" type="radio" name="formselector" {{ purchase }} onchange="this.form.submit();"> Purchase </input>
            <input value="2" type="radio" name="formselector" {{ sales }} onchange="this.form.submit();"> Sales </input>
         </form>
      </div>
      <div class="main-form">
         {% block title %} {{ title_name }} {% endblock %}
         {% include "rice_mill/"|add:form_name %}
      </div>
   </div>
{% endblock main %}
