<div class="form-style-2">
   <form action="{% url 'rice_mill:submit' %}" name="purchase" method="post">
      {% csrf_token %}
      <label for="broker">
         <span>Broker</span>
         <select id="broker" name="broker" class="select-field" onChange="inputFieldChange();">
            <option value="Add">Add Broker</option>
            <option value="A">User A</option>
            <option value="B">User B</option>
            <option value="C">User C</option>
         </select>
         <span>&nbsp;</span>
         <input type="text" class="input-field1" name="new_broker" id="new_broker"/>
         <script> inputFieldChange(); </script>
      </label>

      <label for="rice_variety">
         <span>Rice Variety</span>
         <select name="rice_variety" class="select-field">
            <option value="masoora">Masoora</option>
            <option value="bptl">BPTL</option>
         </select>
      </label>

      <label for="vehicle_no">
         <span>Vehicle Number</span>
         <input type="text" class="input-field" name="vehicle_no"  />
      </label>

      <label for="bag_type">
         <span>Bag Type</span>
         <select name="bag_type" class="select-field">
            <option value="big">Big</option>
            <option value="small">Small</option>
         </select>
      </label>

      <label for="no_of_bags">
         <span>Number of Bags</span>
         <input type="text" class="input-field" name="no_of_bags"  />
      </label>

      <label for="weighment">
         <span>Weighment</span>
         <input type="text" class="input-field" name="weighment"  />
      </label>

      <label>
         <span>&nbsp;</span>
         <input type="submit" value="Submit" />
      </label>
   </form>
</div>
